* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.sidebar {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  font-weight: normal;
  color: rgb(73, 69, 69);
  border: 1px solid lightgray;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #fff;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-nav li {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  align-items: center;
}
li:hover {
  color: black;
}

.sidebar-item img:last-of-type {
  border-radius: 50%;
}

img {
  object-fit: cover;
}

.more {
  display: flex;
  gap: 50px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 100%;
  height: fit-content;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-left: 350px;
}

.stories {
  width: fit-content;
  background-color: #fafafa;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  width: fit-content;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.story {
  text-align: center;
}
.story p {
  text-align: center;
}

.story img {
  position: relative;
  border: 1px solid transparent;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 169, 9), rgb(215, 74, 215));
  background-clip: padding-box;
  padding: 4px;
  object-fit: cover;
  vertical-align: middle;
}

.story p {
  color: rgb(62, 60, 60);
}

.story img:after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(red, blue);
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.feeds {
  width: fit-content;
  padding: 0 5rem;
  margin: 30px auto;
  border-radius: 12px;
}

.card-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  border: 1px solid lightgrey;
}
.card-header img {
  border-radius: 50%;
  object-fit: cover;
}
.card-header span{
position: relative;
bottom: 12px;
left: 5px;
}
.card-header p {
  color: rgb(92, 87, 87);
}
.feeds .content {
  background: black;
  width: fit-content;
  padding: 80px;
  height: auto;
}

.content img {
  object-fit: cover;
}
.d {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  border: 1px solid lightgrey;
}

.engagement .icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.engagement .icons i {
  font-size: 1.5rem;
}
.engagement .icons i:hover {
  color: gray;
}

strong {
  color: rgb(40, 38, 38);
}

.details p {
  margin-top: 10px;
}
.details span {
  color: rgb(52, 49, 49);
}

.time {
  font-size: 13px;
  color: rgb(67, 62, 62);
}

.comments {
  color: rgb(67, 62, 62);
}


.profile{
  margin-top: 20px ;
}


.owner{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.flex{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.owner span{
color: grey;
}

.suggestions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.suggestions p{
  color: grey;
}

.suggestions a{
  color: black;
}

.footer{
  color: grey;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer ul{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.footer a{
  text-decoration: none;
  color: grey;
  font-size: 16px;
}